{% extends "base_col_1.html" %}
{% from "macros/_macros_form.html" import render_field %}
{% block title %}Page Produit{% endblock %}

{% block pageContent %}

    {% set url = "/product/" + product.slug %}
    {% set imageSRC = "images/" + product.image %}
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><i class="fas fa-box"></i> {{ product.name }}</h2>
            </div>
            <div class="panel-body">
                <div class="img-block">
                    <img src="{{ url_for('static', filename=imageSRC) }}"/>
                </div>
            </div>
            <div class="panel-footer">
                <div class="container">
                    <div class="label label-default"><i class="fas fa-dollar-sign"></i> Prix: {{ product.price }} $</div>
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <button type="submit" class="btn btn-success" id="buy-now"><i class="fas fa-cart-plus"></i> Ajouter au panier</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}