{% extends "base_col_1.html" %}
{% block title %}Boutique Tech{% endblock %}

{% block pageContent %}

{% if products | length > 0 %}
    {% for product in products.results %}

{% set url = "/product/" + product.slug %}
{% set imageSRC = "images/" + product.image %}

<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title"><i class="fas fa-tag"></i> {{ product.name }}</h2>
        </div>
        <div class="panel-body">
            <div class="img-block">
                <img src="{{ url_for('static', filename=imageSRC) }}" width="100%"/>
            </div>
        </div>
        <div class="panel-footer">
            <div class="container">
                <div class="label label-info"><i class="fas fa-dollar-sign"></i> Prix: {{ product.price }} $</div>
                <a class="btn btn-primary" href="{{ url }}"><i class="fas fa-eye"></i> Voir détails</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

    {% else %}
        <strong><i class="fas fa-exclamation-circle"></i> Aucun produit trouvé.</strong>
    {% endif %}


{% endblock %}